* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

i {
    pointer-events: none;
}

body {
  background: linear-gradient(90deg, rgb(255, 213, 210), rgb(223, 168, 255));
}
header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
  }
}
form {
  display: flex;
  position: absolute;
  right: 10vw;
  top: 30vh;

  input,
  button {
    border: solid;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
    font-size: 1.3rem;
    margin: 0.1rem;
  }

  input[type="number"] {
    width: 50px;
    text-align: center;
  }
  /*Chrome, Safari, Edge, Opera*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  button {
    cursor: pointer;
    border-color: black;
    background-color: rgb(251, 255, 217);
    color: rgb(30, 16, 16);
  }
}

div.img {
  display: flex;
  width: 40vw;
  position: absolute;
  top: 7vw;
  left: 3vw;
}

section {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 12vw;
  top: 45vh;

  div.todo {
    width: 30vw;
    display: flex;
    align-items: center;
    margin: 0.2rem 0rem;
    transition: all 0.2s ease;

    p {
      background-color: rgba(255, 255, 255, 0.3);
      border: solid 1.7px;
      border-radius: 7px;
      color: black;
      padding: 0.25rem 0.5rem;
      font-size: 1.3rem;
    }

    p.todo-text {
      width: 50%;
      margin-right: 5px;
    }
    p.todo-time {
      width: 25%;
      text-align: center;
      margin-right: 5px;
    }
    button {
        padding: 0.25rem 0.5rem;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
  }
}

div.sort {
    display: flex;
    position: relative;
    margin: 1rem 0rem;

    button {
        position: absolute;
        right: 20rem;
        top: 5.5rem;
        cursor: pointer;
        border-color: black;
        background-color: rgba(254, 255, 196, 0.906);
        color: rgb(30, 16, 16);
        border: solid;
        border-radius: 8px;
        padding: 0.25rem 0.5rem;
        font-size: 1.3rem;
    }
}

.done {
    opacity: 0.3;
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
}


@keyframes scaleUp {
    from {
        transform: scale(0);
    } 
    to {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    to {
        transform: scale(0);
    }
    
}